<h1>{{ 'Login history'|t('glue-auth') }}</h1>
<table class="data fullwidth collapsible">
    <thead>
        <tr>
            <th>User</th>
            <th>Login At</th>
        </tr>
    </thead>
    <tbody>
        {% for login in paginator.getPageResults() %}
            <tr>
                <td>
                    <a href="{{ cpUrl("users/#{login.getUser().id}") }}">
                        {%- if login.getUser().fullname %}
                            {{ login.getUser().fullname }}
                        {% else %}
                            {{ login.getUser().email }}
                        {% endif -%}
                    </a>
                </td>
                <td>{{ login.dateCreated|date('d/m/Y H:i:s') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
